
include ../mixins/navbar.pug
include ../mixins/container.pug
include ../mixins/fancy-underline.pug
include ../mixins/social-media-links.pug
include ../mixins/base-button.pug

include ../mixins/close-icon.pug
include ../mixins/twitter-icon.pug
include ../mixins/facebook-icon.pug
include ../mixins/instagram-icon.pug
include ../mixins/behance-icon.pug
include ../mixins/squarespace-icon.pug


header 
    +navbar
    
    aside#backdrop(
        class="top-0 bottom-0 left-0 right-0 fixed absolute  bg-gray-500/40 hidden z-20") 

        .bg-gray-50#sidebar(
            class="pt-2 py-6 w-6/12 lg:w-9/12 h-full transition-transform duration-500 delay-200 ease-in-out flex flex-col justify-between transform -translate-x-full"
            )
            
            .flex.justify-end.px-2
            
                button#close-btn.w-20.h-20.text-red-500(
                    class="transition-colors duration-200 ease-in"
                    w:hover="text-red-300"
                )
                    
                    +closeIcon

            ul.text-gray-500 

                li.capitalize.text-xl.py-6.px-3
                        
                    a(href='/' w:visited="bg-gray-700") Home
                
                for link in ['about', 'contact', 'projects']
                    


                    li.capitalize.text-xl.py-6.px-3
                        
                        a(href=`/pages/${link}.html` w:visited="bg-gray-700") #{link}
            
            +socialMediaLinks("children:w-5 children:h-9")

            
    block header

main
    block main

footer.bg-gray-900.grid.place-items-center.p-8

    +socialMediaLinks("children:w-6 children:h-6 gap-12 mb-12 text-amber-200")

    p.text-amber-100 
        span &copy; 
        
        time#date 
        
        span  Shelton louis all rights reserved

    



<!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->

